.markdown-styles_markdown__h_8de{
  font-size:1.125rem;
  line-height:1.75rem;
  line-height:1.625}

.markdown-styles_markdown__h_8de h1{font-size:2.25rem;line-height:2.5rem;line-height:1.2;letter-spacing:-.025em}

@media (min-width:768px){.markdown-styles_markdown__h_8de h1{padding-right:2rem;font-size:2.75rem}}

.markdown-styles_markdown__h_8de h1{font-weight:400}.markdown-styles_markdown__h_8de h2{margin-top:2.5rem;font-size:1.5rem;line-height:2rem;font-weight:400}

.markdown-styles_markdown__h_8de p{margin-top:1.25rem;font-size:1.125rem;line-height:1.75rem}@media (min-width:768px){.markdown-styles_markdown__h_8de p{text-align:left}}

.markdown-styles_markdown__h_8de h3{margin-top:2.5rem;font-size:1.5rem;line-height:2rem}

.markdown-styles_markdown__h_8de ul{padding-top:.75rem;padding-left:1.5rem}@media (min-width:768px){.markdown-styles_markdown__h_8de ul{padding-left:0}}

.markdown-styles_markdown__h_8de li{list-style-type:disc;padding-top:.25rem}.markdown-styles_markdown__h_8de a{text-decoration:underline}

.markdown-styles_markdown__h_8de hr{margin-top:2.5rem}

.markdown-styles_markdown__h_8de p img{max-width:46%;margin:12px 1%;padding:4px;border:1px solid #ccc;display:inline-block}@media(max-width:768px){.markdown-styles_markdown__h_8de p img{max-width:100%;margin:12px 0}}
