body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700; 
}

hr {height:2px;
    border-width:0;
    color:gray;
    background-color:gray
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
