*, *::before, *::after {
  box-sizing: border-box; 
}

body, h1, h2, h3, h4, figure, blockquote, dl, dd {
  margin: 0; 
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 14px;
}

h1, h3 {
  font-weight: 700; 
  margin-bottom: 7px;
}

p {
  margin: 14px 0px;
}

p.project {
  font-weight: 700;
  margin-bottom: 7px;
}

a {
    color: #000000;
}

hr {
  width: 100%;
  text-align: left;
  margin-left: 0;
  height: 1px;
  border-width: 0;
  color:#808080;
  background-color: #FFFFFF;
}

ul {
  list-style-type: inherit;
  margin: 0;
  padding: 14px;
  background-color: inherit;
  /* display: flex; */
}

ul li {
  margin: 14px 0px;
}

/* ul li a {
  display: block;
  color: #FFFFFF;
  padding: 14px 16px;
  text-decoration: none;
} */

ul li a:hover {
  background-color: #FFFFFF;
} 

.topnav {
  background-color: #FFFFFF;
  overflow: hidden;
  max-width: 768px;
  margin: 0px auto;
}

.topnav a {
  float: left;
  color: #696969;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #d3d3d3;
  color: #696969;
  border-radius: 7px;
}

.topnav a.active {
  background-color: #FFFFFF;
  color: #696969;
}
