*, *::before, *::after {
  box-sizing: border-box; 
}

:root {
  --space: 14px;
  --color-bg: #FFFFFF;
  --color-text: #222;
  --color-link-hover: #ddd;
}

body, h1, h2, h3, h4, figure, blockquote, dl, dd {
  margin: 0; 
  font-family: Helvetica, Arial, sans-serif;
}

/* — Layout / Container — */
.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 14px;
}

/* — Typography — */
h1, h3 {
  font-weight: 700; 
  margin-bottom: 7px;
}

p {
  margin: var(--space) 0;
}

a {
    color: #000000;
}

hr {
  width: 100%;
  text-align: left;
  margin-left: 0;
  height: 1px;
  border-width: 0;
  color:#808080;
  background-color: var(--color-bg);
}

ul {
  list-style-type: inherit;
  margin: 0;
  padding: var(--space);
  background-color: inherit;
  /* display: flex; */
}

ul li {
  margin: 14px 0px;
}

/* ul li a {
  display: block;
  color: #FFFFFF;
  padding: 14px 16px;
  text-decoration: none;
} */

ul li a:hover {
  background-color: var(--color-bg);
} 

/* — Navigation — */
.topnav {
  display: flex;
  gap: 1rem;
  background-color: var(--color-bg);
  overflow: hidden;
  max-width: 768px;
  margin: 0px auto;
}

.topnav a {
  color: var(--color-text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: var(--color-link-hover);
  border-radius: 7px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.topnav a.active {
  background-color: var(--color-bg);
  color: var(--color-text);
  text-decoration: underline;
  text-underline-offset: 5px;
}

.grid {
  display: flex;
  gap: 1rem:
}

figure {
  width: 46%;
  max-width: 100%;
  height: auto;
  border: solid;
  border-color: #d3d3d3;
  border-width: thin;
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  figure {
    width: 100%;
  }
}
