*, *::before, *::after {
  box-sizing: border-box; 
}
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin: 0; 
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 14px;
}

h1, h3, .project {
  font-weight: 700; 
}

p {
  margin: 14px 0;
}

p.project {
  margin-bottom: 7px;
}

hr {width:100%;
    text-align: left;
    margin-left: 0;
    height:1px;
    border-width:0;
    color:gray;
    background-color:white;
}

ul {
  list-style-type: inherit;
  margin: 0;
  padding: 14px;
  background-color: inherit;
  /* display: flex; */
}

ul li {
  margin: 14px;
}

/* ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
} */

ul li a:hover {
  background-color: white;
} 

.topnav {
  background-color: white;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: darkestgray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #lightestgray;
  color: dark gray;
}

.topnav a.active {
  background-color: white;
  color: dark gray;
}
